<!DOCTYPE html>
<html>
<head>
  <title>Attachments</title>
  <%= stylesheet_link_tag    "attachments/application", :media => "all" %>
  <%= javascript_include_tag "attachments/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
